body{
    display: flex;
    background-color:rgb(139, 139, 139)
}

#auth_container{
    align-items: center;
    margin: 0 auto;
    display: flex;
    display: grid;
    grid-template-columns: 1fr;

}

#create_acc{
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-top: 200px;
  justify-content: center;
  padding-bottom: 20px;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
}
#signIn_acc{
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-top: 20px;
    justify-content: center;
    padding-bottom: 20px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}